<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Eduplanner</h1>
    <nav>
        <ul>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/api">API</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="/admin">Panel de Admin</a></li>
        </ul>
    </nav>
    
</body>
</html>